*{
    padding: 0;
    margin: 0;
}

body{
    display: block;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-color: cadetblue;
    padding: 3%;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;

}

.boton-ns{
    padding: 20px;
    background-color: #646464;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #f2f8e1;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease; /* Ajusta la duración aquí */

    
}

.boton-ns:hover{
    background-color: #e0eebe;
    box-shadow: 4px 10px 10px rgb(146, 146, 145);
    color: #646464;
}